<section class="hero">
  <!-- Canvas de partículas -->
  <canvas id="stars"></canvas>

  <div class="terminal">
    <div class="line">
      <span class="prompt">$</span>
      <span class="typing">{{ displayedText }}</span>
    </div>
  </div>

  <p class="subtitle">Hago apps que funcionan en móvil y web</p>

  <button class="cta" [routerLink]="'/sobremi'"> Sobre mí</button>
  <br>
  <button class="cta" [routerLink]="'/proyectos'">Proyectos</button>
   <br>
  <button class="cta" [routerLink]="'/skills'"> Skills</button>

  <!-- Indicador de scroll -->

</section>



