
<header>
   

        <nav class="barra_navegacion">
            
            <h1>Sergio  Villa Estévez</h1>
             <div class="menu-toggle" (click)="toggleMenu()">
                ☰
             </div>
            <ul [ngClass] = "{'show': menuOpen}">

                    <li><a routerLink="/inicio">Inicio</a></li>
                    <li><a routerLink="/sobremi">Sobre mí</a></li>
                    <li><a routerLink="/proyectos">proyectos</a></li>
                    <li><a routerLink="/skills">skills</a></li>
                    <li><a routerLink="/contacto">contacto</a></li>
                    
            </ul>

        </nav>
</header>


<router-outlet></router-outlet>

