<header>
  <nav>
    <h1>Sergio Villa</h1>

    <!-- Botón hamburguesa -->
    <div class="menu-toggle" (click)="menuOpen = !menuOpen">☰</div>

    <!-- Menú -->
    <ul [ngClass]="{ 'show': menuOpen }">
      <li><a routerLink="/inicio" (click)="menuOpen=false">Inicio</a></li>
      <li><a routerLink="/sobremi" (click)="menuOpen=false">Sobre mí</a></li>
      <li><a routerLink="/proyectos" (click)="menuOpen=false">Proyectos</a></li>
      <li><a routerLink="/skills" (click)="menuOpen=false">Skills</a></li>
      <li><a routerLink="/contacto" (click)="menuOpen=false">Contacto</a></li>
    </ul>
  </nav>
</header>




<router-outlet></router-outlet>



