
<!-- Skills de ejemplo -->
<section class="skills">
  <h2>Mis Skills</h2>
  <div class="icons">
    <div class="icon">
        @for (skill of skills; track skill) {
            
               <img [src]="skill.icon" [alt]="skill.name" />
        
        <div class="skill-bar">
            <div class="skill-progress" [style.width]="skill.level + '%'"></div>
        </div>
        }
    </div>

       <div class="icon">
        @for (lenguage of lenguages; track lenguage) {
            
               <img [src]="lenguage.icon" [alt]="lenguage.name" />
        
        <div class="skill-bar">
            <div class="skill-progress" [style.width]="lenguage.level + '%'"></div>
        </div>
        }
    </div>


    
  </div>
</section>

